<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="
	http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
	
	">
	<!-- 让spring管理数据库连接池 -->
	<bean id="datasource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
		<property name="driverClass" value="com.mysql.jdbc.Driver"></property>
		<property name="jdbcUrl" value="jdbc:mysql://localhost:3306/scott"></property>
		<property name="user" value="root"></property>
		<property name="password" value="123"></property>
	</bean>
	<!-- 让spring管理session工厂 -->
	<bean id="sqlsessionfactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="datasource" ></property>
		<property name="configLocation" value="classpath:mybatis.xml"></property>
	</bean>
	
	
	<!-- 配置sqlsessiontemplate,它就相当于hibernatedaosupport里面的hibernatetemplate -->
	<!-- <bean id="session" class="org.mybatis.spring.SqlSessionTemplate">
		<constructor-arg index="0" ref="sqlsessionfactory"></constructor-arg>
	</bean> -->
	
	
	
</beans>




